html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url('../img/background.png');
  font-family: 'Nova Flat', cursive;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 100;
}

.score-panel {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin: auto;
  font-size: 200;
}

.score-panel .life {
  list-style: none;
  display: inline-block;
  text-align: left;
}

.score-panel .life li  {
  display: inline-block;
}

.score-panel .moves {
  margin-right: 115px;
  margin-left: 15px;
}

.score-panel .restart {
  display: inline-block;
}
